<a href="https://colab.research.google.com/github/fmml2021/fmml2021/blob/main/Preparatory_Session_(1_of_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

### Elementary operations

#### Basic Calculator Operations
" addition + ,  subtraction  -  , multiplication  *  , division /  ,  exponent ** , modulus  %  , floor division  // "

In [ ]:
3 + 2         # addition

In [ ]:
3 - 2         # subtraction

In [ ]:
5 * 3         # multiplication

In [ ]:
type(6 / 2)         # division (always returns a float)

In [ ]:
type (7 / 2)

In [ ]:
7 // 2        # floor division (returns an integer - discards decimal part)

In [ ]:
type ( 7 // 2)

In [ ]:
7 % 2         # modulus operator - remainder is fetched after division

In [ ]:
7 ** 2        # exponentiation

In [ ]:
5 - 2 * 2     # operator precedence : (), **, -(unary),  * or /, + or -

In [ ]:
(-3) ** 2

In [ ]:
# on string variables
first_name = 'charlie'
second_name = "chaplin"

In [ ]:
print (second_name)

In [ ]:
first_name + second_name

In [ ]:
first_name + ' '   + second_name

In [ ]:
first_name * 2 + " " + second_name  * 2

In [ ]:
(first_name * 2) + ' ' + (second_name * 3)

### Some exercises...

In [ ]:
# 1. A brick has dimensions 5 cm x 4 cm x 2 cm. Find volume.

In [ ]:
length = 5
breadth = 4
width = 2

In [ ]:
volume = length * breadth * width
# this is a formula to find volume

In [ ]:
print ("The volume of brick will be ", volume)

In [ ]:
# 2. What will the expression -3 ** 2 evaluate to ?
-3 ** 2

*Exercise (do it yourself) :* A litre of petrol costs Rs 102. Your two wheeler gives a mileage of 38 kms per litre of petrol. How much of a distance can you travel with fuel worth Rs 50.

### Conditional and Logical Operators

#### Conditional Operators
```
< less than 
> greater than
== equal to
!= not equal to
<= less than or equal to
>= greater than or equal to
```

In [ ]:
5 < 3

In [ ]:
5 > 3

In [ ]:
5 == 3

In [ ]:
5 != 3

In [ ]:
akbar_age = 43
antony_age = 53

In [ ]:
akbar_age < antony_age

In [ ]:
(akbar_age > antony_age)

#### Logical Operators
```
and
or
not
```

In [ ]:
(akbar_age < 40)

In [ ]:
(antony_age > 40)

In [ ]:
(akbar_age < 40) or (antony_age > 40)

In [ ]:
False or True

In [ ]:
(akbar_age < 40) and (antony_age > 40)

In [ ]:
False and True

In [ ]:
not (akbar_age < 40)

In [ ]:
not False

#### Basic Data Types - Integer, Float, Boolean, String, None

In [ ]:
some_int = 3

In [ ]:
type(some_int)

In [ ]:
some_int += 4

In [ ]:
some_int

In [ ]:
some_other_int = 7.0

In [ ]:
type(some_other_int)

In [ ]:
some_other_int = int(5.2) # casting

In [ ]:
some_other_int

In [ ]:
type(some_other_int)

In [ ]:
some_float = 3.0

In [ ]:
type (some_float)

In [ ]:
some_int = 3
some_other_int = 8
something = some_other_int / some_int
type(something)

In [ ]:
print (something)

In [ ]:
print (round(something, 2))

In [ ]:
some_bool = False

In [ ]:
type(some_bool)

In [ ]:
some_other_bool = bool()
some_other_bool

In [ ]:
bool([])

In [ ]:
bool({})

In [ ]:
bool(())

In [1]:
var = None

In [ ]:
bool((1, 3))

In [ ]:
some_str = "hello "
some_other_str = 'happy new year'

In [ ]:
merge_str = some_str + some_other_str # concatenation

In [ ]:
print (merge_str)

In [ ]:
for each_char in merge_str:
  print (each_char, end=" ")

In [ ]:
for each_char in merge_str: print (each_char, end="")

#### Type Casting

In [ ]:
i = 4
j = float(i)
print (j)

In [ ]:
type(j)

In [ ]:
i = int(j)
type(i)

In [ ]:
some_str = str(i)
print(some_str)

In [ ]:
type(some_str)

In [ ]:
some_other_str = str(j)
print (some_other_str)
print ("the new string now is " + some_other_str) # string concatenation

In [ ]:
some_bool = bool(some_other_str)

In [ ]:
some_bool

#### Set

In [ ]:
some_set = set()

In [ ]:
type(some_set)

In [ ]:
# Set - collection of items which are not in any particular order and are not indexed. 
# Duplicates are not allowed in set
# Constructor is set()
some_set = {'a', 'c', (2.3, 3.2, 2)}

In [ ]:
some_set

In [ ]:
len(some_set)

In [ ]:
some_set.update([1, 2, 3])

In [ ]:
some_set

In [ ]:
len(some_set)

In [ ]:
type(some_set)

In [ ]:
some_set.add(3)

In [ ]:
len(some_set)

In [ ]:
some_set.discard('a')

In [ ]:
some_set

In [ ]:
some_set.pop()

In [ ]:
for each_item in some_set: print (each_item, end=",")

In [ ]:
some_set.discard(3)
some_set

In [ ]:
# set - union operator
some_set = {'a', 'b', 'c'}
some_other_set = {1, 2, 3}
new_set = some_set | some_other_set

In [ ]:
new_set

In [ ]:
some_set.union(some_other_set)

In [ ]:
some_set

In [ ]:
some_other_set

In [ ]:
# intersection - &
new_set = {2, 3, 6}

In [ ]:
print(new_set & some_other_set)

In [ ]:
print (new_set.intersection(some_other_set))

# ================

#### List (extended data type)

In [ ]:
# List
# A collection of items which are ordered. List is mutable.
# List can be a collection of heterogeneous elements
# Constructor is list()
a = [1, 2, 3, "hello", 5]

In [ ]:
a.append('hi')

In [ ]:
b = [2, 4, 'next']
a.append(b)
print (b)

In [ ]:
c = a[2:]
print (c)

In [ ]:
print (len(c))

In [ ]:
a = []
print (a)

#### Tuple (extended data type)

In [ ]:
# Tuple - collection of items which are ordered but immutable.
# Constructor is tuple()
a = ("hello", "how", (1, 2, 3), "you")

In [ ]:
print (type(a))

In [ ]:
print (len(a))

In [ ]:
for i in range(0, len(a)): print (a[i])

In [ ]:
print (a[0])

In [ ]:
b = a[1:3]

In [ ]:
type(b)

In [ ]:
print (b)

In [ ]:
print (b[-1])

In [ ]:
#using Constructor
new_tuple = tuple(('this', 1, "is", "fine"))
new_tuple

In [ ]:
new_tuple=('this', 1, 'is', 'fine')
new_tuple

#### Dictionary (extended data type)

In [ ]:
# Dictionary - collection of pairs of (key, value) which are mutable
# Constructor is dict()

In [ ]:
some_dict = dict({"age": 47, 
                  "name": "Amar", 
                  "marks": [23, 25, 24, 23]})

In [ ]:
type(some_dict)

In [ ]:
another_dict = {"age": 47, 
                "name": "Amar", 
                "marks": [23, 25, 24, 23]}

In [ ]:
type(another_dict)

In [ ]:
print (another_dict.get("marks"))

In [ ]:
print (another_dict["marks"])

In [ ]:
# update value against a key
another_dict["marks"] = [23, 24, 25]

In [ ]:
# adding a new key-value pair
another_dict["gender"] = "Male"

In [ ]:
another_dict

In [ ]:
# removing a key-value pair using pop
another_dict.pop("gender")

In [ ]:
another_dict

In [ ]:
print (some_dict.keys())

#### Python Identity Operators - is, is not

In [ ]:
a = ["some", "list"]
b = ["some", "list"]

In [ ]:
if a is b: 
   print ('a and b reference the same object')
else:
   print ('a and b do not reference the same object')

In [ ]:
if a == b:
   print ('However, the values of a and b are the same')
else:
   print ("The values of a and b are different")

In [ ]:
if a is not b:
   print ('tested, they are indeed different')

#### Python Membership Operators - in, not in

In [ ]:
a = ["this", "is", "a", "new", "list"]

In [ ]:
% time
for item in a: 
  print (item)

In [ ]:
% time
for item in a:
  print (item, end=" ")

In [ ]:
if "new" in a: print ('Yes, matching item found')

In [ ]:
if ("list" not in a):
  print ("Am I wrong")
else:
  print ("Am I right")

#### References

1. [Python Operators](https://www.w3schools.com/python/python_operators.asp) and [Python Exercises](https://www.w3schools.com/python/exercise.asp)
2. [Official Python Documentation](https://docs.python.org/3/tutorial/introduction.html)

#### Conditional Statements

##### if - elif - else  (with indentation)
```
if condition1:
   statement1
   statement2
   statement3
elif condition2:
   statement4
   statement5
   statement6
else:
   statement7
   statement8
```

In [ ]:
a = input("Enter an integer a: ")
type(a)

In [ ]:
a = int(a)
type(a)

In [ ]:
b = input("Enter an integer b: ")
b = int(b)

In [ ]:
if (a > b):
  print ("a is greater than b")
  print ("and that's it")
elif (a < b):
  print ("a is less than b")
  print ("which is clear")
else:
  print ("a is neither greater than b,  nor less than b")

##### if (condition): statement (single line - without indentation)

In [ ]:
a = input("Enter an integer a: ")
a = int(a)
b = input("Enter an integer b: ")
b = int(b)

In [ ]:
if (a < b): print ("a is lesser than b")

##### if - else in a single line

In [ ]:
a = input("Enter an integer a: ")
a = int(a)
b = input("Enter an integer b: ")
b = int(b)

In [ ]:
print ("a is less than b") if (a < b) else print ("a - {} is not less than b - {}.".format(a, b))

##### if-else with three conditions

In [ ]:
a = input("Enter first string: ")
b = input ("Enter second string: ")

In [ ]:
print ("first string comes earlier") if (a<b) else print ("second string comes earlier") if (b<a) else print ("both strings are same")

##### **Exercise**: Write a program to check whether a character read from keyboard is a vowel or consonant

In [ ]:
# Your program should come here

### Flow control using for-loop
#### 'For' statement is used for iterating over an arithmetic progression of numbers

In [ ]:
# range
for i in range(9, 19, 3):
  print (i, end=" ")

#### 'For' statement is also used for iterating over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [ ]:
# list
my_list = [1, 2, 3, 4]
for each_item in my_list:
  print (each_item, end=" ")

In [ ]:
my_list = ['a', 'e', 'i', 'o', 'u']

In [ ]:
test_char = input("Enter Character: ")

In [ ]:
test_result = 'consonant'
for each_char in my_list:
  if (each_char == test_char.lower()):
    test_result = 'vowel'
    break

In [ ]:
print (test_result)

In [ ]:
# list comprehension
# create a list of all odd numbers from 1 to 20
my_list = [number for number in range(1,20,2)]

In [ ]:
my_list

#### Exercise: Given a list of integers, write a for-loop to create a list of its squares.

In [ ]:
# for instance if input list is [1, 2, 3, 4],  you need to create a list [1, 4, 9, 16]

Reference:
[Python Documentation on Control Statements](https://docs.python.org/3/tutorial/controlflow.html)

#### WHILE-LOOP: The while loop executes as long as the condition remains true.

In [ ]:
#        while condition:
#           statement-block

In [ ]:
i = 0

In [ ]:
while (i < 10):
   print (i, end=" ")
   i = i + 1

In [ ]:
# 1 1 2 3 5 8 13

In [ ]:
a = b = 1

In [ ]:
while (b < 10000):
    print (a, b, end=" ")
    a = a + b
    b = a + b

In [ ]:
my_str = 'welcome to foundations in modern machine learning'

In [ ]:
# print triangle with string using while-loop

In [ ]:
# Exercise to print the pattern in increasing order

### Functions

In [ ]:
# Implement length of a string using a function

In [ ]:
# Write a function to print factorial of a number

In [ ]:
# Write a function to check whether a given alphabet is vowel or not

In [ ]:
def inList (my_char, my_list=['a','e','i','o','u']):
  """ this is a function to check whether a char is vowel or not """
  for each_char in my_list:
    if each_char == my_char.lower():
      return True
  return False

In [ ]:
inList('Z', ['x', 'y', 'z'])

Reference: [Python Documentation on Functions](https://docs.python.org/3/tutorial/controlflow.html#defining-functions)